<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.epicodus.CritterSavior">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo3"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.epicodus.CritterSavior.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.epicodus.CritterSavior.ui.WelcomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.CritterSavior.ui.WelcomeActivity" />
        </activity>
        <activity android:name="com.epicodus.CritterSavior.ui.MyFavoritesActivity"
                  android:theme="@style/NoActionBarTheme" />
        <activity android:name="com.epicodus.CritterSavior.ui.SearchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.CritterSavior.ui.WelcomeActivity" />
        </activity>
        <activity android:name="com.epicodus.CritterSavior.ui.SearchResultsActivity"
                  android:theme="@style/NoActionBarTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.CritterSavior.ui.SearchActivity" />
        </activity>
        <activity android:name="com.epicodus.CritterSavior.ui.PetProfileActivity"
                  android:theme="@style/NoActionBarTheme" />
        <activity android:name="com.epicodus.CritterSavior.ui.CreateAccountActivity" />
        <activity android:name="com.epicodus.CritterSavior.ui.SearchFiltersActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.CritterSavior.ui.SearchActivity" />
        </activity>
    </application>

</manifest>